<div id="results">
    {{#each examinations}}
    <div class="examination-result" style="text-align: left">
        <h2 style="border-bottom: solid 2px white">Examination ID: {{this.id}}</h2>
        <h4>Patient ID: {{this.patient_id}}</h4>
        <h4>Date: {{this.date_time.year}}/{{this.date_time.month}}/{{this.date_time.day}}</h4>
        <h4>Time: {{this.date_time.hours}}:{{this.date_time.minutes}}</h4>
        <h4>Doctor ID: {{this.doctor_id}}</h4>
        <h4>Parameters:</h4>
        <ul style="text-align: left">
            {{#each this.parameter}}
                <li>{{#each this}} {{this}} {{/each}}</li>
            {{/each}}
        </ul>
    </div>
    {{/each}}
</div>